.tomato-button {
  color: var(--b3-font-color3) !important;
}

.protyle-wysiwyg div[custom-staticlink],
.protyle-wysiwyg div[custom-tomato-readingpoint] {
  opacity: 0.65;
  // transform: scale(0.65);
  // transform-origin: 0 0;
  color: var(--b3-font-color8);
  background-color: var(--b3-font-background5);
}

// comment
.protyle-wysiwyg div[custom-tomato-comment] {
  border-bottom: 3px dashed var(--b3-font-color10) !important;
  border-radius: 0 !important;
  padding-bottom: 1px !important;
}

.protyle-wysiwyg div[custom-tomato-key-comment] span[data-type='text'][style="background-color: var(--b3-font-background-tomato-key-comment);"] {
  border-bottom: 3px dashed var(--b3-font-color12) !important;
  border-radius: 0 !important;
  padding-bottom: 1px !important;
}

.protyle-wysiwyg div[custom-comment-superblock-fold="1"] {
  font-size: 0.9em !important;
  color: var(--b3-font-color4);
}

.protyle-wysiwyg div[custom-card-priority-stop] {
  opacity: 0.3;
}

.protyle-wysiwyg div[custom-card-priority-stop]::after {
  content: attr(custom-card-priority-stop);
  color: var(--b3-font-color5);
}

// ai response
.protyle-wysiwyg div[custom-ai-response] {
  color: var(--b3-font-color5);
  background-color: var(--b3-font-background5);
}

// super list
.protyle-wysiwyg div[custom-super-list] {
  border-bottom: 1px groove var(--b3-font-color5);
}

// bottom link
.protyle-wysiwyg div[custom-lnk-bottom] {
  border: 1px solid var(--b3-font-color5);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.buttom-bk-borderedDiv {
  border: 1px solid var(--b3-theme-surface-lighter);
}

.protyle-wysiwyg div[custom-sync-block-id] {
  border: 1px dashed var(--b3-font-color5);
}

// readonly
.protyle-wysiwyg div[custom-tomato-readonly]::before {
  content: attr(memo);
}

.protyle-wysiwyg div[custom-tomato-readonly] {
  color: var(--b3-font-color4);
  background-color: var(--b3-font-background4);

  div:not(.protyle-attr) {
    display: none;
  }

  div.protyle-attr::after {
    content: "🔒";
  }
}

.protyle-wysiwyg div[data-inline-comment] {
  position: relative; // 为伪元素创建定位上下文
}

.protyle-wysiwyg div[data-inline-comment]::before {
  content: "💬";
  font-size: 0.8em;
  padding: 2px 5px;
  border-radius: 3px;
  position: absolute;
  left: -25px; // 向左偏移基础值
  top: 2px;
  z-index: 12;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.protyle-wysiwyg div[data-inline-comment]:hover::before {
  content: attr(data-inline-comment);
  color: var(--b3-font-color2);
  background-color: var(--b3-font-background2);
  font-size: 1em;
  padding: 4px 8px;
  left: -35px; // 悬停时加大左偏移
  top: 0;
  transform: translateY(-50%);
}

// settings search 
.tomato-highlight {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: x-large;
  color: var(--b3-font-color2);
}

.protyle-wysiwyg div[custom-tomato-line-blur] {
  filter: blur(5px);
  opacity: 0.7;
}

.protyle-wysiwyg div[custom-tomato-line-blur]:hover {
  filter: none;
  opacity: 1;
}

// bi ref links
.protyle-wysiwyg {
  div[custom-tomato-reflink]::after {
    content: attr(custom-tomato-reflink);
    font-size: small;
  }

  div[custom-tomato-reflink] {
    display: flex;
  }
}

// super block as card
.protyle-wysiwyg div[custom-super-card-box] {
  border: 1px solid var(--b3-font-color5);
}

// @keyframes tomatoFadeIn {
//   from {
//     opacity: 0.1;
//     color: var(--b3-font-color2);
//     background-color: var(--b3-font-background1);
//   }
//   to {
//     opacity: 1;
//   }
// }
// .tomato-cmd-box {
//   animation: tomatoFadeIn 0.3s forwards 3;
// }

.tomato-style {
  &__bkContainer {
    font-size: larger;
  }

  &__bkContent {
    padding-left: 30px;

    ul {
      padding-left: 20px;
    }

    ul ul {
      padding-left: 40px;
    }

    ul ul ul {
      padding-left: 60px;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__centered-text {
    text-align: center;
    font-size: 30px;
  }

  &__code {
    background-color: var(--b3-protyle-code-linenumber-hl);
    color: var(--b3-font-color5);
    font-size: small;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
    vertical-align: top;
  }
}

#tomato-mind-wire-svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.tomato-mind-wire-connector-animation {
  animation: tomato-mind-wire-flow 2s linear infinite;
}

@keyframes tomato-mind-wire-flow {
  from {
    stroke-dashoffset: 10;
  }

  to {
    stroke-dashoffset: 0;
  }
}